<main>
    <fieldset>
        <legend>Create Template</legend>

        {{#if error}}
        <div class="messageContainer red">
            <p class="messageText">{{error}}</p>
        </div>
        {{/if}}

        <form id="createTemplateForm" method="POST" enctype="multipart/form-data">

            <!-- Template Image Upload -->
            <label for="templateImage">Upload Template Image<span class="redAsterix">*</span></label>
            <input type="file" name="templateImage" id="templateImage" accept="image/*" />
            <p class="inputRequirements">Upload an image for the template (required)</p>

            <!-- Template Alt Attribute -->
            <label for="templateAltAttribute">Alt Attribute<span class="redAsterix">*</span></label>
            <input type="text" name="templateAltAttribute" id="templateAltAttribute" value="{{templateAltAttribute}}" />
            <p class="inputRequirements">Please enter an Alt text (required)</p>

            <!-- Template Title -->
            <label for="templateTitle">Template Title<span class="redAsterix">*</span></label>
            <input type="text" name="templateTitle" id="templateTitle" value="{{templateTitle}}" />
            <p class="inputRequirements">Enter the template name (required)</p>

            <!-- Template Short Description -->
            <label for="templateShortDescription">Template Short Description<span class="redAsterix">*</span></label>
            <input type="text" name="templateShortDescription" id="templateShortDescription" value="{{templateShortDescription}}" />
            <p class="inputRequirements">Enter a short description of the template (10-50 characters required)</p>

            <!-- Preview Link -->
            <label for="previewLink">Preview Link<span class="redAsterix">*</span></label>
            <input type="text" name="previewLink" id="previewLink" value="{{previewLink}}" />
            <p class="inputRequirements">Enter the preview link for the template</p>

            <button class="additionalStyle">Create Template</button>
        </form>
    </fieldset>
</main>
