<main class="noAside">
    <fieldset>
        <legend>Edit Template</legend>

    <form method="post" enctype="multipart/form-data">
        <div style="max-width: 500px;">
            <img src="{{this.templateImage}}" alt="{{this.templateAltAttribute}}">
        </div>

        <label for="templateImage">Upload New Image</label>
        <input type="file" name="templateImage" id="templateImage">

        <label for="templateAltAttribute">Edit Alt Attribute</label>
        <input type="text" name="templateAltAttribute" id="templateAltAttribute" value="{{this.templateAltAttribute}}">

        <label for="templateTitle">Edit Title</label>
        <input type="text" name="templateTitle" id="templateTitle" value="{{this.templateTitle}}">

        <label for="templateShortDescription">Edit Short Description</label>
        <input type="text" name="templateShortDescription" id="templateShortDescription" value="{{this.templateShortDescription}}">

        <label for="previewLink">Edit Preview Link</label>
        <input type="text" name="previewLink" id="previewLink" value="{{this.previewLink}}">

    <input type="submit" value="Save Changes">
    </form>
    </fieldset>
</main>
