<fieldset>
    <legend>Създаване на блог статия</legend>

    {{#if error}}
    <div class="messageContainer red">
        <p class="messageText">{{{error}}}</p>
    </div>
    {{/if}}


    <form id="createArticleForm" method="POST" enctype="multipart/form-data">
        <label for="articleTitle">Заглавие<span class="redAsterix">*</span></label>
        <input type="text" id="articleTitle" name="articleTitle" value="{{articleTitle}}">
        <p class="inputRequirements {{#if errors.articleTitle}}red{{/if}}">Моля въведете заглавие на статията</p>

        <label for="articleImage">Основно изображение<span class="redAsterix">*</span></label>
        <input type="file" id="articleImage" name="articleImage">
        <p class="inputRequirements {{#if errors.articleImage}}red{{/if}}">Моля изберете основно изображение на статията
        </p>

        <label for="articleThumbnailImage">Миниатюрно изображение<span class="redAsterix">*</span></label>
        <input type="file" id="articleThumbnailImage" name="articleThumbnailImage">
        <p class="inputRequirements {{#if errors.articleThumbnailImage}}red{{/if}}">Моля изберете миниатюрно изображение
            на статията</p>

        <label for="articleAlt">Alt Текст за изображението<span class="redAsterix">*</span></label>
        <input type="text" id="articleAlt" name="articleAlt" value="{{articleAlt}}">
        <p class="inputRequirements {{#if errors.articleAlt}}red{{/if}}">Моля добавете Alt атрибут, касаещ изображението
            на статията </p>

        <label for="articleContent">Съдържание<span class="redAsterix">*</span></label>
        <div id="editor-container">
            {{{articleContent}}}
        </div>
        <input type="hidden" id="articleContent" name="articleContent">
        <p class="inputRequirements {{#if errors.articleContent}}red{{/if}}">
            Моля въведете съдържанието на статията - до 2000 думи
        </p>

        <label for="articleMetaTitle">Meta Title<span class="redAsterix">*</span></label>
        <input type="text" id="articleMetaTitle" name="articleMetaTitle" value="{{articleMetaTitle}}">
        <p class="inputRequirements {{#if errors.articleMetaTitle}}red{{/if}}">Моля въведете Meta Title на статията - до
            70 символа</p>

        <label for="articleMetaDescription">Meta Description<span class="redAsterix">*</span></label>
        <input type="text" id="articleMetaDescription" name="articleMetaDescription" value="{{articleMetaDescription}}">
        <p class="inputRequirements {{#if errors.articleMetaDescription}}red{{/if}}">Моля въведете Meta Description на
            статията - до 160 символа</p>

        <button class="additionalStyle">Създай статия</button>
    </form>
</fieldset>

<script>
    // 👉 Pass the current articleContent as preloaded content
    window.preloadedContent = `{{{articleContent}}}` || '';
    if (window.preloadedContent === 'undefined') {
        window.preloadedContent = '';
    }
</script>